<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.eof.yijing.sucha</string>
	<key>connections</key>
	<dict>
		<key>B38F5EB2-DA0E-4DD9-A2A2-137AE3F4481B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>79D020FC-54F1-4AC5-9199-7C1CC18BDE85</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>shmeof</string>
	<key>description</key>
	<string>周易</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>ZhouYi</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>gua</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>正在加载中...</string>
				<key>script</key>
				<string>python get_64gua.py {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>速查</string>
				<key>title</key>
				<string>卦辞爻辞</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B38F5EB2-DA0E-4DD9-A2A2-137AE3F4481B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>79D020FC-54F1-4AC5-9199-7C1CC18BDE85</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>79D020FC-54F1-4AC5-9199-7C1CC18BDE85</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>B38F5EB2-DA0E-4DD9-A2A2-137AE3F4481B</key>
		<dict>
			<key>xpos</key>
			<integer>150</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/shmeof/eof_alfred_workflow_zhouyi</string>
</dict>
</plist>
